forge-*.jar
minecraft_server.*.jar

1.14.4.json
banned-players.json
forge-*-installer.jar.log
whitelist.json
banned-ips.json
ops.json
usercache.json

log4j2.xml
eula.txt

.forge-installed-1.14.4-28.2.6
.mixin.out/
crash-reports/
journeymap/

usernamecache.json

defaultconfigs 
world
libraries
logs                         

mc-compose.sh
