forge-*.jar
minecraft_server.*.jar

1.14.4.json
banned-players.json
forge-*-installer.jar.log
whitelist.json
banned-ips.json
ops.json
usercache.json

log4j2.xml
eula.txt

server.properties

defaultconfigs 
world
libraries
logs                         
mods
config